<div class="book-list container">
    <div class="header">
        <h2>Vos cahiers</h2>
        <div class="research">
            <button
                class="new-button"
                nz-tooltip nzTitle="Nouveau Cahier"
                nz-button
                nzType="primary"
                nzShape="circle"
                [routerLink]="['/books/new']"
                [nzSize]="'small'"
                *ngIf="isAdmin()"
            >
                <i class="pi pi-plus" style="font-size: 0.8rem"></i>
            </button>
            <nz-input-group class="research-input" nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" [(ngModel)]="search" nz-input placeholder="Recherche" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" (click)="searchBook()" nzSearch><i nz-icon nzType="search"></i></button>
            </ng-template>
        </div>
    </div>

    <div class="list">
        <div class="row">
            <div class="book col-md-3" *ngFor="let book of booksToDisplay" (click)="bookSelected(book)">
                <nz-badge [nzCount]="getCardsLength(book)">
                    <i class="pi pi-book"></i>
                </nz-badge>
                <h3>{{ book.name }}</h3>
            </div>
        </div>
    </div>

    <nz-pagination [nzPageIndex]="1" [nzPageSize]="8" [nzTotal]="getBookLength()" (nzPageIndexChange)="changeBooks($event)"></nz-pagination>

    <!-- <nz-table class="list"
        #booksTable
        [nzLoading]="isLoading"
        [nzBordered]="true"
        [nzNoResult]="'Aucun cahier'"
        [nzPageSize]="9"
        [nzSize]="'middle'"
        [nzData]="books"
    >
        <thead>
          <tr>
            <th>Nom du cahier</th>
            <th>Groupe</th>
          </tr>
        </thead>
        <tbody>
          <tr class="book" *ngFor="let book of booksTable.data" (click)="bookSelected(book)">
            <td>{{ book.name }}</td>
            <td>{{ book.group }}</td>
          </tr>
        </tbody>
    </nz-table> -->

    <div class="footer">
        <button nz-button nzType="primary" type="button" (click)="backClicked()">Retour</button>
    </div>
</div>