:host {
    height: 100%;
    display: flex
}

.book-list {
    margin-top: 8px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .research {
            display: flex;
            align-items: center;

            .new-button {
                margin-right: 8px;
            }

            .research-input {
                width: auto !important;
            }
        }
    }

    .list {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;

        .row {
            flex: 1 1 auto;

            .book {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                h3 {
                    text-align: center;
                }
    
                .pi {
                    font-size: 6rem;
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        margin: 24px 8px;
    }
}