:host {
    height: 100%;
    display: flex
}

.card-form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .title {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;

        form {
            width: 100%; 
            display: flex;
            flex-direction: column;

            .row {
                justify-content: space-between;
                margin-bottom: 16px;

                .col-md-6 {
                    display: flex;
                    flex-direction: row;
                }

                .col-md-12 {

                    .col-form-label {
                        font-size: 16px;
                    }

                    .textarea {
                        margin: 0 16px;
                    }
                }
            }
        }

        .form-button {
            margin-top: 16px;
            align-self: center;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        margin: 24px 8px;
    }
}