<div class="card-form">
    <div class="title">
        <h1>Créer une fiche {{ selectedCardType }}</h1>
    </div>

    <div class="form container">
        <form [formGroup]="patientCardForm" *ngIf="selectedCardType === 'patient' && patientCardForm">
            <div class="row">
                <div class="col-md-6">
                    <label for="title" class="col-sm-4 col-form-label">Titre</label>
                    <div class="col-sm-8">
                        <input type="text" id="title" class="form-control" formControlName="title" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="bookId" class="col-sm-4 col-form-label">N° dossier</label>
                    <div class="col-sm-8">
                        <input type="text" id="bookId" class="form-control" formControlName="bookId" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="criticity" class="col-sm-4 col-form-label">Criticité</label>
                    <div class="col-sm-8">
                        <nz-form-control>
                            <nz-select
                              id="criticity"
                              formControlName="criticity"
                              nzPlaceHolder="Sélectionner une criticité"
                            >
                                <nz-option [nzValue]="crit.name" [nzLabel]="crit.name"*ngFor="let crit of criticities"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="sector" class="col-sm-4 col-form-label">Secteur</label>
                    <div class="col-sm-8">
                        <nz-form-control>
                            <nz-select
                              id="sector"
                              formControlName="sector"
                              nzPlaceHolder="Sélectionner un secteur"
                            >
                                <nz-option [nzValue]="sect.name" [nzLabel]="sect.name"*ngFor="let sect of secteurs"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="patientName" class="col-sm-4 col-form-label">Nom du patient</label>
                    <div class="col-sm-8">
                        <input type="text" id="patientName" class="form-control" formControlName="patientName" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="birthDate" class="col-sm-4 col-form-label">Date de naissance</label>
                    <div class="col-sm-8">
                        <span *ngIf="birthDateHasError">Veuillez respecter le format jj/mm/aaaa</span>
                        <input nzValidateStatus="error" type="text" id="birthDate" class="form-control" formControlName="birthDate" nzErrorTip="Veuillez respecter le format jj/mm/aaaa" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="description" class="col-sm-4 col-form-label">Discussion</label>
                    <textarea class="textarea" formControlName="description" nz-input rows="3" placeholder="Discussion"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="conclusion" class="col-sm-4 col-form-label">Conclusion</label>
                    <textarea class="textarea" formControlName="conclusion" nz-input rows="3" placeholder="Conclusion"></textarea>
                </div>
            </div>
            <button type="button" class="form-button btn btn-primary" (click)="addNewPatientCard()">Enregistrer</button>
        </form>

        <form [formGroup]="noPatientCardForm" *ngIf="selectedCardType === 'objet' && noPatientCardForm">
            <div class="row">
                <div class="col-md-6">
                    <label for="title" class="col-sm-4 col-form-label">Titre</label>
                    <div class="col-sm-8">
                        <input type="text" id="title" class="form-control" formControlName="title" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="type" class="col-sm-4 col-form-label">Type de fiche</label>
                    <div class="col-sm-8">
                        <nz-select
                              id="sector"
                              formControlName="type"
                              nzPlaceHolder="Sélectionner un type"
                            >
                                <nz-option [nzValue]="ficheType.name" [nzLabel]="ficheType.name"*ngFor="let ficheType of ficheTypes"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="criticity" class="col-sm-4 col-form-label">Criticité</label>
                    <div class="col-sm-8">
                        <nz-form-control>
                            <nz-select
                              id="criticity"
                              formControlName="criticity"
                              nzPlaceHolder="Sélectionner une criticité"
                            >
                                <nz-option [nzValue]="crit.name" [nzLabel]="crit.name"*ngFor="let crit of criticities"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="sector" class="col-sm-4 col-form-label">Secteur</label>
                    <div class="col-sm-8">
                        <nz-form-control>
                            <nz-select
                              id="sector"
                              formControlName="sector"
                              nzPlaceHolder="Sélectionner un secteur"
                            >
                                <nz-option [nzValue]="sect.name" [nzLabel]="sect.name"*ngFor="let sect of secteurs"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="free_text" class="col-sm-4 col-form-label">Description initiale</label>
                    <textarea class="textarea" formControlName="free_text" nz-input rows="3" placeholder="Description initiale"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="description" class="col-sm-4 col-form-label">Discussion</label>
                    <textarea class="textarea" formControlName="description" nz-input rows="3" placeholder="Discussion"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="conclusion" class="col-sm-4 col-form-label">Conclusion</label>
                    <textarea class="textarea" formControlName="conclusion" nz-input rows="3" placeholder="Conclusion"></textarea>
                </div>
            </div>
            <button type="button" class="form-button btn btn-primary" (click)="addNewNoPatientCard()">Enregistrer</button>
        </form>
    </div>

    <div class="footer">
        <input *ngIf="false" type="file" (change)="onFileChanged($event)">
        <button nz-button nzType="primary" type="button" (click)="backClicked()">Retour</button>
    </div>
</div>