:host {
    height: 100%;
    display: flex
}

.auth {
    flex: 1 1 auto;
    display: flex;

    .card {
        flex: 1 1 auto;
        background: #ECECEC;
        padding: 30px;
        align-items: center;
        justify-content: center;

        .card-style {
            width:300px;
            box-shadow: 1px 1px 12px #555;

            .login-form {
                max-width: 300px;
            }
    
            .login-form-margin {
                margin-bottom: 16px;
            }
    
            .login-form-forgot {
                float: right;
            }
    
            .login-form-button {
                width: 100%;
            }
        }
    }
}