<div class="auth">
    <div class="card">
        <nz-card class="card-style" nzTitle="Connexion à ASPIC">
            <nz-alert nzType="error" [nzDescription]="errorMessage" nzShowIcon *ngIf="error"> </nz-alert>
            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your username!">
                        <nz-input-group nzPrefixIcon="user">
                            <input type="text" nz-input formControlName="userName" placeholder="Identifiant" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Please input your Password!">
                        <nz-input-group nzPrefixIcon="lock">
                            <input type="password" nz-input formControlName="password" placeholder="Mot de passe" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <button nz-button class="login-form-button" [nzType]="'primary'">Se connecter</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-card>
    </div>
</div>