<div class="user-list">
    <div class="header">
        <h1 class="title">Liste des utilisateurs</h1>
        <div class="research row">
            <div class="col-md-6"></div>
            <div class="col-md-6 header-research row">
                <button
                    class="new-user"
                    nz-tooltip nzTitle="Nouvel utilisateur"
                    nz-button
                    nzType="primary"
                    nzShape="circle"
                    [routerLink]="['/admin/user/new']"
                    [nzSize]="'small'"
                >
                    <i class="pi pi-plus" style="font-size: 0.8rem"></i>
                </button>
                <nz-input-group class="research-input" nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" [(ngModel)]="search" nz-input placeholder="Recherche" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" (click)="searchUser()" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="user-list">
        <nz-table class="list"
            #userTable
            [nzBordered]="true"
            [nzNoResult]="'Aucun utilisateur'"
            [nzPageSize]="8"
            [nzSize]="'middle'"
            [nzData]="users"
        >
            <thead>
                <tr>
                    <th>ID utilisateur</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Laboratoire</th>
                    <th>Groupe</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" *ngFor="let user of userTable.data">
                    <td>{{ user.id }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.labo }}</td>
                    <td>
                        <span *ngFor="let role of user.roles">{{ role.Titre }} </span>
                    </td>
                    <td>
                        <a nz-button nzType="link" (click)="deleteUser(user)">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>

    <div class="footer">
        <div class="actions-button">
            <button nz-button nzType="primary" type="button" (click)="backClicked()">Retour</button>
        </div>
    </div>
</div>