<div class="book-form">
    <div class="title">
        <h1>Créer un cahier</h1>
    </div>

    <div class="form container">
        <form [formGroup]="bookForm">
            <div class="mb-3 row">
                <label for="name" class="col-sm-3 col-form-label">Nom du cahier</label>
                <div class="col-sm-9">
                    <input type="text" id="name" class="form-control" formControlName="name" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="group" class="col-sm-3 col-form-label">Groupe</label>
                <div class="col-sm-9">
                    <nz-select
                        id="group"
                        formControlName="group"
                        nzPlaceHolder="Sélectionner un groupe"
                    >
                        <nz-option [nzValue]="role.titre" [nzLabel]="role.titre"*ngFor="let role of groups"></nz-option>
                    </nz-select>

                </div>
            </div>
            <div class="mb-3 row">
                <label for="type" class="col-sm-3 col-form-label">Type</label>
                <div class="col-sm-9">
                    <input type="text" id="type" class="form-control" formControlName="type" required>
                </div>
            </div>
            <button type="button" class="form-button btn btn-primary" (click)="addNewBook()">Enregistrer</button>
        </form>
    </div>

    <div class="footer">
        <button nz-button nzType="primary" type="button" (click)="backClicked()">Retour</button>
    </div>
</div>