<div class="role-list">
    <div class="header">
        <h1 class="title">Liste des groupes</h1>
        <div class="research row">
            <div class="col-md-6"></div>
            <div class="col-md-6 header-research row">
                <button
                    class="new-role"
                    nz-tooltip nzTitle="Nouveau rôle"
                    nz-button
                    nzType="primary"
                    nzShape="circle"
                    [routerLink]="['/admin/role/new']"
                    [nzSize]="'small'"
                >
                    <i class="pi pi-plus" style="font-size: 0.8rem"></i>
                </button>
                <nz-input-group class="research-input" nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" [(ngModel)]="search" nz-input placeholder="Recherche" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" (click)="searchRole()" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="role-list">
        <nz-table class="list"
            #roleTable
            [nzBordered]="true"
            [nzNoResult]="'Aucun role'"
            [nzPageSize]="8"
            [nzSize]="'middle'"
            [nzData]="roles"
        >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" *ngFor="let role of roleTable.data">
                    <td>{{ role.id }}</td>
                    <td>{{ role.titre }}</td>
                    <td>
                        <a nz-button nzType="link" (click)="deleteRole(role)">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>

    <div class="footer">
        <div class="actions-button">
            <button nz-button nzType="primary" type="button" (click)="backClicked()">Retour</button>
        </div>
    </div>
</div>