:host {
    height: 100%;
    display: flex
}

.role-list {
    margin-top: 8px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: column;
        
        .title {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
        }

        .header-research{
            justify-content: flex-end;

            .new-user {
                margin-right: 8px;
            }
        }

        .research-input {
            width: auto;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 8px;

        .actions-button {
            display: flex;
            flex-direction: row;
        }

        button {
            margin: 4px;
        }
    }
}