<div class="card-list container">
    <div class="header">
        <h1 class="book-name">{{ selectedBook.name }}</h1>
        <div class="research row">
            <div class="col-md-6"></div>
            <div class="col-md-6 row">
                <label nz-checkbox (nzCheckedChange)="changeIncludeArchivedCards(!includeArchived)">Inclure les fiches archivées</label>
                <nz-input-group class="research-input" nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" [(ngModel)]="search" nz-input placeholder="Recherche" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" (click)="searchCard()" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="patient-cards">
        <h5 class="header">Les fiches actives</h5>
        <nz-table class="list"
            #cardsTable
            [nzBordered]="true"
            [nzNoResult]="'Aucune fiche patient'"
            [nzPageSize]="8"
            [nzSize]="'middle'"
            [nzData]="cards"
        >
            <thead>
                <tr>
                    <th></th>
                    <th>Titre</th>
                    <th>Criticité</th>
                    <th>Secteur</th>
                    <th>Créateur</th>
                    <th>Nom du patient</th>
                    <th>Type de fiche</th>
                    <th>Date creation</th>
                    <th>Date d'archivage</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" *ngFor="let card of cardsTable.data">
                    <td *ngIf="!card.isArchived" nzShowCheckbox (nzCheckedChange)="selectCard(card)"></td>
                    <td *ngIf="card.isArchived"></td>
                    <td (click)="cardClicked(card)">{{ card.title }}</td>
                    <td (click)="cardClicked(card)">{{ card.criticity }}</td>
                    <td (click)="cardClicked(card)">{{ card.sector }} </td>
                    <td (click)="cardClicked(card)">{{ card.creator.Prenom + " " + card.creator.Nom }} </td>
                    <td (click)="cardClicked(card)">{{ card.patientName }}</td>
                    <td (click)="cardClicked(card)">{{ card.type }}</td>
                    <td (click)="cardClicked(card)">{{ card.creationDate | date: 'longDate' }} </td>
                    <td (click)="cardClicked(card)">{{ card.archiveDate | date: 'longDate' }} </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
        
    <div class="footer">
        <div class="archive-button">
            <button nz-button nzType="default" type="button"  (click)="archive()">Archiver</button>
        </div>
        <div class="actions-button">
            <div class="creation-buttons">
                <button nz-button nzType="default" type="button" (click)="reportClicked()">Créer un compte-rendu</button>
                <button nz-button nzType="default" type="button" (click)="createCard('patient')">Créer fiche patient</button>
                <button nz-button nzType="default" type="button" (click)="createCard('objet')">Créer fiche non-patient</button>
            </div>
            <button nz-button nzType="primary" type="button" (click)="backClicked()">Retour</button>
        </div>
    </div>
</div>