:host {
    height: 100%;
    display: flex
}

.card-list {
    margin-top: 8px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: column;
        
        .book-name {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
        }

        .research-input {
            width: auto;
        }
    }

    .patient-cards {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .header {
            text-align: center;
        }

        .list {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;

            .pointer {
                cursor: pointer;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        margin: 24px 8px;

        .actions-button {
            display: flex;
            flex-direction: row;
        }

        button {
            margin: 4px;
        }
    }
}