<div class="user-form">
    <div class="title">
        <h1>Créer un utilisateur</h1>
    </div>

    <div class="form">
        <form [formGroup]="userForm" *ngIf="userForm">
            <div class="mb-3 row">
                <label for="prenom" class="col-sm-3 col-form-label">Prénom de l'utilisateur</label>
                <div class="col-sm-9">
                    <input type="text" id="prenom" class="form-control" formControlName="prenom" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="nom" class="col-sm-3 col-form-label">Nom de l'utilisateur</label>
                <div class="col-sm-9">
                    <input type="text" id="nom" class="form-control" formControlName="nom" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="userID" class="col-sm-3 col-form-label">ID de l'utilisateur</label>
                <div class="col-sm-9">
                    <input type="text" id="userID" class="form-control" formControlName="userID" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-sm-3 col-form-label">Mot de passe de l'utilisateur</label>
                <div class="col-sm-9">
                    <input type="password" id="password" class="form-control" formControlName="password" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="groupe" class="col-sm-3 col-form-label">Groupe</label>
                <div class="col-sm-9">
                    <nz-select
                        id="groupe"
                        formControlName="groupe"
                        nzMode="multiple"
                        nzPlaceHolder="Sélectionner un groupe"
                    >
                        <nz-option [nzValue]="role.id" [nzLabel]="role.titre"*ngFor="let role of roles"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="laboratoire" class="col-sm-3 col-form-label">Laboratoire de l'utilisateur</label>
                <div class="col-sm-9">
                    <nz-select
                        id="laboratoire"
                        formControlName="laboratoire"
                        nzPlaceHolder="Sélectionner un laboratoire"
                    >
                        <nz-option [nzValue]="labo.name" [nzLabel]="labo.name"*ngFor="let labo of labos"></nz-option>
                    </nz-select>
                </div>
            </div>
            <button type="button" class="form-button btn btn-primary" (click)="addNewUser()">Enregistrer</button>
        </form>
    </div>

    <div class="footer">
        <button nz-button nzType="primary" type="button" (click)="backClicked()">Retour</button>
    </div>
</div>