:host {
    height: 100%;
    display: flex
}

.card-report {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .date, .select {
            margin-bottom: 8px;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        margin: 24px 8px;
    }
}