<div class="card-report container">
    <div class="title">
        <h1>Compte-rendu de réunion</h1>
    </div>

    <div class="form">
        <div class="date row">
            <label for="birthDate" class="col-sm-3 col-form-label">Date de la réunion</label>
            <div class="col-sm-9">
                <nz-date-picker [(ngModel)]="selectedDate" (ngModelChange)="onChangeDate($event)"></nz-date-picker>
            </div>
        </div>
        <div class="select row">
            <label for="Participants" class="col-sm-3 col-form-label">Participants</label>
            <div class="col-sm-9">
                <nz-select
                    style="width: 100%"
                    nzMode="multiple"
                    nzPlaceHolder="Participants"
                    [(ngModel)]="listOfSelectedValue"
                >
                    <ng-container *ngFor="let user of listOfUsers">
                        <nz-option [nzLabel]="user.fullName" [nzValue]="user" *ngIf="isNotSelected(user)"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
        </div>

        <nz-table class="list"
            #cardsTable
            [nzBordered]="true"
            [nzNoResult]="'Aucune fiche archivée à cette date'"
            [nzPageSize]="10"
            [nzSize]="'middle'"
            [nzData]="cards"
        >
            <thead>
                <tr>
                    <th>Patient/Objet</th>
                    <th>Titre</th>
                    <th>Criticité</th>
                    <th>Sécteur</th>
                    <th>Créateur</th>
                    <th>Date creation</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" *ngFor="let card of cardsTable.data">
                    <td *ngIf="card.patientName">Patient</td>
                    <td *ngIf="!card.patientName">Objet</td>
                    <td>{{ card.Titre }}</td>
                    <td *ngIf="card.criticite">{{ card.criticite }}</td>
                    <td *ngIf="!card.criticite">{{ card.Criticite }}</td>
                    <td>{{ card.Secteur }} </td>
                    <td>{{ card.Createur.Prenom + " " + card.Createur.Nom }} </td>
                    <td>{{ card.DateCreation | date: 'longDate' }} </td>
                </tr>
            </tbody>
        </nz-table>
    </div>

    <div class="footer">
        <button nz-button nzType="default" type="button" disabled>Exporter en PDF</button>
        <button nz-button nzType="primary" type="button" (click)="backClicked()">Retour</button>
    </div>
</div>