:host {
    height: 100%;
    display: flex
}

.labo-form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .title {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;

        form {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
        }

        .form-button {
            margin-top: 16px;
            align-self: center;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 8px;
    }
}