<div class="labo-form">
    <div class="title">
        <h1>Ajouter un laboratoire</h1>
    </div>

    <div class="form">
        <form [formGroup]="laboForm" *ngIf="laboForm">
            <div class="mb-3 row">
                <label for="name" class="col-sm-3 col-form-label">Nom du laboratoire</label>
                <div class="col-sm-9">
                    <input type="text" id="name" class="form-control" formControlName="name" required>
                </div>
            </div>
            <button type="button" class="form-button btn btn-primary" (click)="addNewLabo()">Enregistrer</button>
        </form>
    </div>

    <div class="footer">
        <button nz-button nzType="primary" type="button" (click)="backClicked()">Retour</button>
    </div>
</div>