<!--The content below is only a placeholder and can be replaced.-->
<div class="rooter">
    <div class="header">
        <div class="logo" [routerLink]="['/']">
            <img src="../assets/logo/logo-CHU-Internet.png">
        </div>

        <div class="title-header">
            <h1 class="aspic">ASPIC</h1>
            <h5>Cahier électronique de laboratoire</h5>
        </div>

        <div class="user">
            <nz-dropdown *ngIf="user">
                <button nz-button nz-dropdown><i nz-icon type="user"></i><span>{{ user.prenom + " " + user.nom }}</span></button>
                <ul nz-menu>
                    <li nz-menu-item *ngIf="isAdmin()">
                        <a [routerLink]="['/admin/user']">Gestion utilisateurs</a>
                    </li>
                    <li nz-menu-item *ngIf="isAdmin()">
                        <a [routerLink]="['/admin/role']">Gestion rôles</a>
                    </li>
                    <li nz-menu-item *ngIf="isAdmin()">
                        <a [routerLink]="['/sector/new']">Créer un secteur</a>
                    </li>
                    <li nz-menu-item *ngIf="isAdmin()">
                        <a [routerLink]="['/criticity/new']">Créer une criticité</a>
                    </li>
                    <li nz-menu-item *ngIf="isAdmin()">
                        <a [routerLink]="['/type/new']">Créer un type</a>
                    </li>
                    <li nz-menu-item *ngIf="isAdmin()">
                        <a [routerLink]="['/labo/new']">Créer un laboratoire</a>
                    </li>
                    <li nz-menu-item (click)="logout()">
                        <a>Se déconnecter</a>
                    </li>
                </ul>
            </nz-dropdown>
        </div>
    </div>
    <nz-spin class="spin" [nzSpinning]="isLoading">
        <router-outlet ></router-outlet>
    </nz-spin>
</div>
