:host {
    height: 100%;
}

.rooter {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        height: 75px;
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.97);

        .logo {
            height: 100%;
            cursor: pointer;

            img {
                height: 100%;
            }
        }

        .user {
            display: flex;
            flex-direction: row;
            align-items: center;

            .anticon {
                vertical-align: 0;
            }
        }

        .title-header {
            display: flex;
            flex-direction: column;
            align-items: center;

            .aspic {
                margin-bottom: 0;
            }
        }
    }

    .spin {
        flex: 1;
    }
}