<div class="role-form">
    <div class="title">
        <h1>Créer un rôle</h1>
    </div>

    <div class="form">
        <form [formGroup]="roleForm" *ngIf="roleForm">
            <div class="mb-3 row">
                <label for="titre" class="col-sm-3 col-form-label">Titre du rôle</label>
                <div class="col-sm-9">
                    <input type="text" id="titre" class="form-control" formControlName="titre" required>
                </div>
            </div>
            <button type="button" class="form-button btn btn-primary" (click)="addNewRole()">Enregistrer</button>
        </form>
    </div>

    <div class="footer">
        <button nz-button nzType="primary" type="button" (click)="backClicked()">Retour</button>
    </div>
</div>