/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

nz-spin {
    width: 100%;

    .ant-spin-container {
        height: 100%;
        display: flex;
        flex-direction: column;

        .ant-table {
            flex: 1 1 auto;
        }
    }
}