<div class="home">
    <div class="banniere">
        <img src="../../assets/logo/intra-bandeau-Pole-Bio-patho-physiologie.jpg">
    </div>
    <div class="menu">
        <a class="buttonLink" [routerLink]="['/books']">
            <i class="pi pi-book"></i>
            <h3>Cahiers</h3>
        </a>
        <a class="buttonLink" [routerLink]="['/statistics']">
            <i class="pi pi-chart-bar"></i>
            <h3>Statistiques</h3>
        </a>
    </div>
</div>