:host {
    height: 100%;
    display: flex
}

.home {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .banniere {
        margin-top: 20px;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .menu {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .buttonLink {
            text-align: center;
                
            i {
                font-size: 6rem;
            }
        }
    }
}