<div class="card">
    <div class="card-details container">
        <form [formGroup]="patientCardForm" *ngIf="patientCardForm">
            <div class="row">
                <div class="col-md-9">
                    <span>Fiche Patient n°<strong>{{ selectedCard.id }}</strong>, créée le <strong>{{ selectedCard.creationDate | date: 'longDate' }}</strong> par <strong>{{ selectedCard.creator.Prenom + " " + selectedCard.creator.Nom }}</strong></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <label for="criticity" class="col-sm-3 col-form-label">Criticité :</label>
                    <div class="col-sm-9">
                        <input type="text" id="title" class="form-control" formControlName="criticity">
                    </div>
                </div>
                <div class="col-md-2 title">
                    <h3>{{ selectedCard.title }}</h3>
                </div>
                <div class="col-md-5">
                    <label for="sector" class="col-sm-3 col-form-label">Secteur :</label>
                    <div class="col-sm-9">
                        <input type="text" id="title" class="form-control" formControlName="sector">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="patientName" class="col-sm-4 col-form-label">Nom du patient :</label>
                    <div class="col-sm-8">
                        <input type="text" id="title" class="form-control" formControlName="patientName">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="patientName" class="col-sm-4 col-form-label">N° de dossier :</label>
                    <div class="col-sm-8">
                        <input type="text" id="title" class="form-control" formControlName="bookId">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="birthDate" class="col-sm-4 col-form-label">Date de naissance :</label>
                    <div class="col-sm-8">
                        <span *ngIf="birthDateHasError">Veuillez respecter le format jj/mm/aaaa</span>
                        <input type="text" id="birthDate" class="form-control" formControlName="birthDate">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="description" class="col-sm-4 col-form-label">Discussion :</label>
                    <textarea class="textarea" formControlName="description" nz-input rows="4" placeholder="Description"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="conclusion" class="col-sm-4 col-form-label">Conclusion</label>
                    <textarea class="textarea" formControlName="conclusion" nz-input rows="4" placeholder="Conclusion"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span>Dernière date d'archivage le : <strong>{{ selectedCard.archiveDate | date: 'longDate' }}</strong></span>
                </div>
            </div>
        </form>

        <form [formGroup]="noPatientCardForm" *ngIf="noPatientCardForm">
            <div class="row">
                <div class="col-md-9">
                    <span>Fiche Objet n°<strong>{{ selectedCard.id }}</strong>, créée le <strong>{{ selectedCard.creationDate | date: 'longDate' }}</strong> par <strong>{{ selectedCard.creator.Prenom + " " + selectedCard.creator.Nom }}</strong></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <label for="criticity" class="col-sm-3 col-form-label">Criticité :</label>
                    <div class="col-sm-9">
                        <input type="text" id="title" class="form-control" formControlName="criticity">
                    </div>
                </div>
                <div class="col-md-2 title">
                    <h3>{{ selectedCard.title }}</h3>
                </div>
                <div class="col-md-5">
                    <label for="sector" class="col-sm-3 col-form-label">Secteur :</label>
                    <div class="col-sm-9">
                        <input type="text" id="title" class="form-control" formControlName="sector">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="free_text" class="col-sm-4 col-form-label">Description initiale :</label>
                    <textarea class="textarea" formControlName="free_text" nz-input rows="4" placeholder="Texte libre"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="description" class="col-sm-4 col-form-label">Discussion :</label>
                    <textarea class="textarea" formControlName="description" nz-input rows="4" placeholder="Description"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="conclusion" class="col-sm-4 col-form-label">Conclusion</label>
                    <textarea class="textarea" formControlName="conclusion" nz-input rows="4" placeholder="Conclusion"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span>Dernière date d'archivage le : <strong>{{ selectedCard.archiveDate | date: 'longDate' }}</strong></span>
                </div>
            </div>
        </form>
    </div>

    <div class="footer">
        <button nz-button nzType="default" [nzSize]="'large'" nzShape="circle" [disabled]="getIndexCard(-1)" (click)="otherCard(-1)"><i class="arrow" nz-icon nzType="double-left"></i></button>
        <button nz-button nzType="default" [nzSize]="'large'" nzShape="circle" [disabled]="getIndexCard(1)" (click)="otherCard(1)"><i class="arrow" nz-icon nzType="double-right"></i></button>
        <button nz-button nzType="default" type="button" [disabled]="!selectedCard.isArchived" (click)="unarchiveCard()">Desarchiver</button>
        <button nz-button nzType="primary" type="button" [disabled]="selectedCard.isArchived" (click)="updateCard()">Mettre à jour la fiche</button>
        <button nz-button nzType="primary" type="button" (click)="backClicked()">Retour</button>
    </div>
</div>