:host {
    height: 100%;
    display: flex
}

.card {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .card-details {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;

        form {
            width: 100%; 
            display: flex;
            flex-direction: column;

            .row {
                justify-content: space-between;
                margin-bottom: 16px;

                .col-md-6,.col-md-4,.col-md-5 {
                    display: flex;
                    flex-direction: row;
                }

                .title {
                    justify-content: center;
                    text-align: center;
                }

                .col-md-12 {

                    .col-form-label {
                        font-size: 16px;
                    }

                    .textarea {
                        margin: 0 16px;
                    }
                }
            }
        }

        .form-button {
            margin-top: 16px;
            align-self: center;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        margin: 8px 32px;

        button {
            margin-left: 8px;

            .arrow {
                vertical-align: 0;
            }
        }
    }
}